<div class="translate-animation getir d-flex justify-content-center">
  <input
    type="button"
    id="translate-in"
    value="Getir"
    class="btn btn-primary" />

  <label id="label" class="w-50 mx-4 d-none" style="border: 2px solid red"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Est alias
    dignissimos sed natus, illum et? Excepturi voluptates, voluptatibus quos
    voluptas neque a assumenda suscipit delectus, veniam inventore enim maxime
    quisquam?</label
  >
  <!-- <input
    type="button"
    id="translate-out"
    value="Götür"
    class="btn btn-primary d-none" /> -->
</div>
